/*
.topbar_item {
    padding: 50px;
}
*/
.int_registration {
    width: 50vw;
    background: #fff;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid lightgray;
    filter: drop-shadow(1px 1px 5px black);
    margin-bottom: 100px;
}

.int_reg_info {
    padding: 40px;
}

.int_reg_info p {
    font-size: 18px;
}

.int_reg_info h4 {
    font-size: 22px;
    margin-bottom: 5px;
}

.bullet_text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.int_reg_info small {
    font-size: 16px;
}

.only_email {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
}

.only_email h4 {
    font-size: 16px;
}

.only_email input {
    padding: 5px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #00000027, -1px -1px 7px #969393;
    margin-top: -8px;
}

.int-reg-form button {
    width: 120px;
    font-size: 20px;
    border-radius: 5px;

    background: deepskyblue;
    color: white;
    filter: drop-shadow(2px 2px 2px black);
    border: 2px solid white;
}

.int-reg-form button:hover {
    transform: scale(1.05);
}

.input_control.success input {
    border-color: #09c372;
}

.input_control.error input {
    border-color: #ff3860;
}

.input_control.error {
    color: #ff3860;
    font-size: 9px;

}

@media only screen and (max-width:576px) {

    .int_registration {
        width: 90vw;
        padding: 2px;
        margin-top: 35px;
        margin-bottom: 100px;
    }

    .int_reg_info h4 {
        font-size: 18px;
    }

    .int_reg_info p {
        font-size: 10px;
    }

    .bullet_text small {
        font-size: 10px;
    }

    .only_email {
        padding: 0px !important;
        margin-top: 35px;
    }

    .only_email h4 {
        font-size: 12px !important;
    }

    .only_email input {
        height: 35px;
        width: 175px !important;
        margin-top: -12px !important;
        font-size: 13px;
    }

    .int-reg-form button {
        width: 100px !important;
        margin-left: auto !important;
        margin-top: 25px;
        /* margin-left: auto !important;
        margin-right: auto !important; */
        font-size: 16px !important;
        margin-top: 30px !important;
    }


}

@media only screen and (min-width: 1020px) and (max-width: 1112px) {

    .int_registration {
        width: 60vw;
    }
}