.input_control input:focus {
    outline: 0;
}

.input_control.success input {
    border-color: #09c372;
}

.input_control.error input {
    border-color: #ff3860;
}

.input_control.error {
    color: #ff3860;
    font-size: 9px;

}

.form_control.error2 {
    color: #ff3860;
    font-size: 9px;
}

.form_control.success2 input {
    border-color: #09c372;
}

.form_control.error2 input {
    border-color: #ff3860;
}

.continue_btn_2 {
    background: #08152C;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.login_modal_bg {

    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.login_bg_active {
    visibility: visible;
    opacity: 1;
}



.login_modal {

    margin-top: 20px;

    height: 95vh;

    width: 30%;
    margin-left: auto;

    margin-right: auto;
    background: #FFFFFF;
    border-radius: 28px;
    padding-top: 13px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.login_form_options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login_form_options button {
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 500;
}


.All_button_class {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#login_img {
    height: 22px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

#or {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

.login_btn_class {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 20px;
    height: 48px;
    background: #081F2c;
}

.login_btn_class3 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 20px;
    height: 48px;
    background: #4267B2;
}
.login_btn_class4 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    height: 48px;
    background: #FFFFFF;
    cursor: pointer;
    border: 1px solid black;
}



.login_btn_class2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid black;

}


.login_btn_class2 p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-size: 18px;
    font-weight: 400;
    color: black;

}

.login_btn_class p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.login_btn_class3 p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.login_btn_class4 p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.heading_for_form {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 20px;
}

#account_heading {
    font-size: 20px;
}


.signup_button {
    color: #777777c2;
}


.LOGIN_FORM {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* gap: 4px; */
}

#login_checkbox {
    width: auto;
}

.LOGIN_FORM input {
    background: #F0F5F8;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #FFF;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 12px;
}


.SIGNUP_FORM {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    gap: 8px;
    display: none;


}

.NAMES {
    display: flex;
    gap: 10px;
}

.NAMES input {
    width: 50%;
    background: #F0F5F8;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #FFF;
}

.checkbox_DIV {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 14px;
    margin-bottom: 15px;
}

.SIGNUP_FORM input {
    background: #F0F5F8;
    padding: 16px;
    border-radius: 15px;
    border: 1px solid #FFF;
    width: 100%;
    margin-top: 2px;

    font-size: 12px;

}

#login_modal_pass {
    margin-top: 15px;
}

#signup_pass {
    margin-top: 15px;
}

#email_2 {
    margin-top: 15px;
}

#signup_pass_confirm {
    margin-top: 4px;
}


#login_form_checkbox {

    height: 20px;
    width: 20px;

}

#H-4 {
    font-size: 13px;
    color: #777;
    font-weight: 400;
}

#Anchor {
    font-size: 13px;
    color: brown;
}

.continue_btn {
    background: #08152C;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.cross_button {
    border: none;
    background: #FFFFFF;
    font-size: 30px;
    margin-top: -8px;
    margin-right: 10px;
    font-weight: 700;
    width: 30px;
    cursor: pointer;
}

#P_TAG {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    font-size: 15px;

    margin-top: 15px;
}

.forget_pss_div {
    margin-top: 1px;
    margin-bottom: 20px;
    display: flex;
    gap: 100px;
    padding: 0px 15px;
    justify-content: space-around;

}

.remember_me span {
    font-size: 13px;
}

.remember_me {
    display: flex;
    gap: 5px;
    margin-top: 3px;
}

#eye_icon {
    margin-left: 390px;
    margin-top: -77px;
    height: 20px;
    margin-bottom: 32px;

}
.login_mobile {
        display: flex;
    padding: 20px;
}
.mobile__NO {
    color: rgb(22, 24, 35);
        border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.06);
    padding-inline-start: 12px;
    line-height: 100%;
    outline: none;
    font-size: 16px;
    height: 45px;
    caret-color: rgb(254, 44, 85);
    width: 100%;
    margin-top: 35px;
}
.continue_mobile_full {
    padding: 0 30px;
    display: none;
}

.contry_codes {
        display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 12px;
    height: 44px;
    width: 100%;
    -webkit-appearance: none;
}

.send_code_section {
    display: flex;
    padding: 5px 20px;
    justify-content: center;
}
#send_code_id {
    color: rgb(22, 24, 35);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.06);
    padding-inline-start: 12px;
    line-height: 100%;
    outline: none;
    font-size: 16px;
    height: 44px;
    caret-color: rgb(254, 44, 85);
    width: 63%;
    
}
#send_code_btn {
    font-weight: 600;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border-color: rgba(22, 24, 35, 0.12);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 0px 4px 4px 0px;
    border-inline-start-width: 1.5px;
    cursor: pointer;
    font-size: 16px;
    padding: 0px 16px;
    height: 41px;
    box-sizing: content-box;
    width: 100%;
    color: grey;
}
.login_mobile_codes h4 {
        margin-bottom: 12px;
    font-size: 18px;
}

@media screen and (max-width:576px) {
    .login_modal {
        width: 90%;
        height: 90vh !important;
    }
    .forget_pss_div {
        gap: 50px;
    }


}

@media screen and (min-width:400px) and (max-width:415px) {
    #eye_icon {
        margin-left: 288px;
    }
}

@media screen and (min-width:376px) and (max-width:391px) {
    #eye_icon {
        margin-left: 275px;
    }
}

@media screen and (min-width:350px) and (max-width:361px) {
    #eye_icon {
        margin-left: 250px;
    }
}

@media screen and (min-width:362px) and (max-width:376px) {
    #eye_icon {
        margin-left: 263px;
    }
}

@media screen and (min-width:416px) and (max-width:450px) {
    #eye_icon {
        margin-left: 300px;
    }
}

@media screen and (min-width:1023px) and (max-width:1112px) {
    #eye_icon {
        margin-left: 325px;
    }

    .login_modal {
        width: 40%;
    }

    .remember_me p {
        font-size: 12px;
    }
}

@media screen and (min-width:1175px) and (max-width:1240px) {
    #eye_icon {
        margin-left: 300px;
    }

}

@media screen and (min-width:1275px) and (max-width:1300px) {
    #eye_icon {
        margin-left: 300px;
    }

}

@media screen and (min-width:1301px) and (max-width:1450px) {
    #eye_icon {
        margin-left: 320px;
    }
}

/* @media screen and (min-width:1484px) and (max-width:1490px) {
    .products_wrapper {
        width: 57%;
    }
} */



@media screen and (min-width:1500px) and (max-width:1550px) {
    #eye_icon {
        margin-left: 360px;
    }
}

@media screen and (min-width:1555px) and (max-width:1600px) {
    #eye_icon {
        margin-left: 371px;
    }
}

@media screen and (min-width:1601px) and (max-width:1700px) {
    #eye_icon {
        margin-left: 408px;
    }
}

@media screen and (min-width:1900px) and (max-width:2000px) {
    #eye_icon {
        margin-left: 460px;
    }
}

@media screen and (min-width:2001px) and (max-width:2100px) {
    #eye_icon {
        margin-left: 500px;
    }
}

@media screen and (min-width:2101px) and (max-width:2200px) {
    #eye_icon {
        margin-left: 515px;
    }
}

@media screen and (min-width:2201px) and (max-width:2300px) {
    #eye_icon {
        margin-left: 540px;
    }
}

@media screen and (min-width:2301px) and (max-width:2400px) {
    #eye_icon {
        margin-left: 555px;
    }
}

@media screen and (min-width:2401px) and (max-width:2500px) {
    #eye_icon {
        margin-left: 580px;
    }
}

@media screen and (min-width:2501px) and (max-width:2600px) {
    #eye_icon {
        margin-left: 625px;
    }
}